name: GPU Tests

# Test on all pushes, except when the push is literally just a tag (because we
# tag automatically via CI, and therefore there's no extra code in that push).
# Also, only test on pull requests into master/dev.
on:
  push:
    tags-ignore:
      - 'v*'
  pull_request:
    branches:
      - 'main'

jobs:
  tests:
    env:
      ENV_NAME: tests
      PYTHON: "3.10"
      OS: Ubuntu
    name: Self-Hosted Tests (GPU)
    runs-on: [self-hosted, gpu]
    defaults:
     run:
       # Adding -l {0} ensures conda can be found properly in each step
       shell: bash -l {0}
    steps:
      - name: Add Home to PATH
        run: |
          echo "$HOME/bin" >> $GITHUB_PATH
          echo "/usr/local/cuda/bin" >> $GITHUB_PATH
          echo "LD_LIBRARY_PATH=/usr/lib/wsl/lib:$LD_LIBRARY_PATH" >> $GITHUB_ENV

      - uses: actions/checkout@main
        with:
          fetch-depth: 0

      - name: Cache conda
        uses: actions/cache@v2
        env:
          # Increase this value to reset cache if ci/test-env.yml has not changed
          CACHE_NUMBER: 0
        with:
          path: ~/conda_pkgs_dir
          key:
            ${{ runner.os }}-conda-${{ env.CACHE_NUMBER }}-${{ env.PYTHON }}-${{ hashFiles('ci/test-env.yml', 'setup.cfg') }}

      - name: Setup Miniconda
        uses: conda-incubator/setup-miniconda@v2.1.1
        with:
          # auto-update-conda: true
          miniconda-version: "latest"
          python-version: ${{ env.PYTHON }}
          environment-file: ci/test-env.yml
          activate-environment: tests
          channels: conda-forge,defaults
          channel-priority: strict
          use-only-tar-bz2: true

      - name: Conda Info
        run: |
          conda info -a
          conda list
          PYVER=`python -c "import sys; print('{:d}.{:d}'.format(sys.version_info.major, sys.version_info.minor))"`
          if [[ $PYVER != $PYTHON ]]; then
            exit 1;
          fi

      - name: Install
        run: |
          echo $(which pip)
          pip install .[test,gpu]

      - name: Run Tests
        run: |
          python -m pytest --cov=vis_cpu --cov-config=.coveragerc --cov-report xml:./coverage.xml --durations=25 --log-cli-level=DEBUG

      - uses: codecov/codecov-action@v2
        if: success()
        with:
          fail_ci_if_error: true
          verbose: true
          file: ./coverage.xml
